.section-about {
    background-color: #742134;
    padding: 20px;
    text-align: center;
    color: white;
}

.about-heading {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 4em;
    color: white;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 7%;
}

.profile-photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 6px solid #022943;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about-text {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.about-text-header {
    font-size: 24px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.research-labs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 20px;
    padding: 0 7%; /* Adjust padding to set distance from left and right */
    text-align: justify; /* Ensure text is left-aligned within the padding */
    font-size: 16px;
}

.lab {
    display: flex; /* Use Flexbox to center content */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: rgba(255, 255, 255, 0.1); /* Subtle background */
}

.research-labs li {
    margin-bottom: 10px; /* Add space between list items */
    padding: 20px;
    list-style-type: none;
}

.lab-imgs {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #022943;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.lab-info {
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: 18px;
}

.lab-info a {
    color: #022943;
}

@media (max-width: 768px) {
    .about-content {
        padding: 0 5%;
        flex-direction: column;
    }

    .profile-photo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
        max-width: 100%;
    }

    .research-labs {
        text-align: center; /* Center-align list on small screens */
        padding: 0 5%;
    }
}