.contact-heading {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 4em;
}

.section-contact {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contact-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.contact-content p {
    font-size: 1.2em;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Copied */

.section-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contact form label {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

.section-contact form input, .section-contact form textarea, .section-contact form button {
    width: 200%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Georgia;
    font-size: 15px;
}

.section-contact input[type="submit"] {
    background: white;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-family: Georgia;
    font-size: 15px;
}

.section-contact input[type="submit"]:hover {
    background: #555;
}