.footer {
    background-color: #022943;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures all icons are centered vertically */
}

.social-icons a {
    display: flex; /* Use flexbox for child alignment */
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    max-height:50px;
}

.social-icons img {
    width: auto;
    height: 40px;
    /* width: 50px; /* Set a uniform width */
    /* height: 50px; /* Set a uniform height */
    /* object-fit: contain; /* Ensures the aspect ratio is maintained and fits within the given dimensions */
}

.social-icons .linkedin-icon {
    height: 65px;
    margin-right: -10px;
}

.Extra {
    padding-top: 5px;
    color: white;
    font: Georgia;
}