html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
    /* background-color: #000; */
    /* z-index: 2; */
    box-sizing: border-box;
}

/* Home.css */

*, *:before, *:after {
    box-sizing: inherit;
}

.section-home {
    position: relative;
    width: 100vw; /* Use viewport width to ensure full width without overflow */
    /* height: 100vh; */
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Dark Mode Toggle */
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: all 0.4s ease;  
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vw; /* Set width to viewport width to prevent overflow */
    height: 30vh; /* Set height to viewport height */
    object-fit: cover;
    /* transform: translate(-50%, -50%); */
    transform: translate(60%,-20%);
    z-index: 1;
}

.section-home .content {
    position: relative;
    z-index: 1;
    /* color: white; */

    /* Dark Mode Toggle */
    color: var(--text-main);

    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.section-home .content h2 {
    font-size: 2.5em;
    margin-top: 50px;
}

.section-home .content p {
    font-size: 2.5em;
}

/* Designing with responsiveness (react) in mind */

@media (max-width: 768px) {
    .section-home .content {
        padding: 10px;
        font-size: 1em;
    }

    .section-home .content p {
        font-size: 1em;
    }
}

/* Video */

/* Base style for both videos */
.bg-video {
    position: absolute;
    object-fit: cover;
    /* transition: opacity 0.4s ease-in-out;  */
    /* Match your header fade speed */
    z-index: 1;
}

/* Visibility Toggles */
.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1.5s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
}

/* DARK VIDEO POSITION (Default) */
.dark-vid-style {
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 30vh;
    transform: translate(60%, -20%);
}

/* LIGHT VIDEO POSITION (Customize this!) */
.light-vid-style {
    top: 30%;      /* Move it up */
    left: 5%;     /* Move it left */
    width: 20vw;   /* Different size */
    height: 20vh;
    transform: none; /* Reset the transform if needed */
}