html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.section-home {
    position: relative;
    width: 100vw; /* Use viewport width to ensure full width without overflow */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw; /* Set width to viewport width to prevent overflow */
    height: 100vh; /* Set height to viewport height */
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.section-home .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.section-home .content h2 {
    font-size: 2.5em;
    margin-top: -40px;
}

.section-home .content p {
    font-size: 2.5em;
}

/* Designing with responsiveness (react) in mind */

@media (max-width: 768px) {
    .section-home .content {
        padding: 10px;
        font-size: 1em;
    }

    .section-home .content p {
        font-size: 1em;
    }
}
