.section-projects {
    /* background-color: #A4D7CC; */
    /* background-color: #49111C; */
    background-color: #587B7F;
    padding: 30px;
    text-align: center;
    margin-bottom: -60px;
}

.projects-heading {
    width: 100%;
    margin-bottom: -20px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 4em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.project-card {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);

    max-width: 300px;
    min-width: 275px;
    /* max-width: calc(33.333% - 20px);
    /* max-width: auto;
    max-height: 2000px; */

    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
}

.project-image-container {
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 330px;
    transition: transform 0.3s ease;
}

.project-image-container:hover .project-image {
    transform: scale(1.1);
}

.project-title {
    font-size: 18px;
    margin-top: 25px; /* change depending on screen size */
    color: gray;
    padding: 0 10px;
}

.project-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
}

.project-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project-details-image {
    width: 100%; /* Ensure image fits container */
    max-width: 200px; /* Adjust as needed */
    height: auto;
    margin-bottom: 20px;
}

.project-details-text {
    text-align: center;
}

.project-date {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
    color: gray;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: #000;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .project-details-content {
        flex-direction: column;
        align-items: center;
    }

    .project-details-image {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 480px) {
    .project-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
