.section-projects {
    background-color: #A4D7CC;
    padding: 20px;
    text-align: center;
}

.projects-heading {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 4em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project .name {
    font-size: 18px;
    margin-top: 10px;
    color: gray;
}

.project .date {
    font-size: 14px;
    margin-top: 10px;
    color: lightgray;
}

.project .description {
    font-size: 16px;
    margin-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .project {
        flex: 1 1 100%;
        max-width: 100%;
    }
}