.section-publications {
    /* background-image: url('AdobeStock_132147953.jpg'); */
    background-color: #D3D9C3;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    position: relative;

    /* It was becoming hard to see the white text */
    filter: grayscale(15%);
    background-position: center - 15px;
}

.publications-heading {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 4em;
}

.publication-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication-item {
    position: relative;
    color: white;
    margin-bottom: 30px;
    padding: 0 20px;
    max-width: 800px;
    text-align: left;
    font-size: 1em;
}

.publication-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: white;
    transform: translateX(-50%);
}