.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================================== DARK MODE ================================== */

/* Default is dark mode */
body {
    /* Header */
    --bg-main: #000000;
    --text-main: #ffffff;
    
    background-color: var(--bg-main);
    color: var(--text-main);
    margin: 0;
    padding: 0;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* LIGHT MODE */

body:not(.dark-mode) {
    /* Unknown - Originals for Header - Used? */
    --bg-main: #ffffff;
    --text-main: #022943;

    /* Header */
    --header-bg-transparent: rgba(160, 201, 228, 0.7);
    --header-border: rgba(255, 255, 255, 0.2);
    --header-text: #022943;

    /* About Photo Border */
    --about-border: #022943;

    /* About Background */
    --about-background: white;

    /* About Text Color */
    --about-text: #022943;

    /* About Button Background */
    --about-buttons-background: black;

    /* About Hypertext Color */
    --about-lab-hypertext: #0b7f96;

    --project-filter-button: rgba(0, 0, 0, 0.9);

    --show-more-button-text-color: #022943;
    --scholar-button-text-color: white;

    --publication-bullet-color: #022943;
    --publication-list-item-color: #022943;
    --publication-hyperlink: #022943;
    --publication-header: #022943;

    --keyword-color: #022943;

    --nav-item-colors: #022943;

    --section-border: #022943; 
}

/* DARK MODE */

body.dark-mode {
    /* Header */
    --bg-main: #000000;
    --text-main: #ffffff;

    /* --header-main: #000000; */
    --header-bg-transparent: rgba(0, 0, 0, 0.7);
    --header-border: rgba(255, 255, 255, 0.1);
    --header-text: #ffffff;

    /* --about-border: #405759; */
    --about-border: black;
    --about-background: #022943;

    --about-buttons-background: black;

    --about-lab-hypertext: #A0C9E4; /* #78DCE8 */

    --project-filter-button: rgba(0, 0, 0, 0.7);

    --show-more-button-text-color: white;

    --publication-bullet-color: white;
    --publication-list-item-color: white;

    --publication-hyperlink: #78DCE8;

    --scholar-button-text-color: white;

    --publication-header: white;

    --keyword-color: #A0C9E4;
    --keyword-color-hover: #92d3fe;

    --nav-item-colors: white;

    --section-border: white;
}
